* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 1vw 0 0 2vw;
  line-height: 1.3em;
  font-size: 1.1vw;
}

.title {
  background-color: rgba(255,255,255,0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-family: 'Staatliches', cursive;
  font-size: 2.5vw;
  margin-bottom: 0.2vh;
  margin-top: 10vh;
}

.nav {
  display: flex;
  justify-content: space-around;
}
.nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: bold;
  padding: 3vh;
}

a:hover {
  text-decoration: underline;
}

.section p {
  width: 30vw;
}

.section {
  padding: 5vh 5vh 0 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw 17vw 10vh 17vw;
  line-height: 1.3em;
}

.mainSection a {
  margin: 1vh;
  text-decoration: none;
}

.section2 {
  padding: 0vh 5vh 0 5vh;
  display: flex;
}
#space {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#img{
  width: 35vw;
}
.imgContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.imgContainer img {
  width: 35vw;
}

/* ON HOVER IMAGES */
#chatham {
  background: url("images/historical/chatham-view.jpg") no-repeat;
  width: 640px;
  height: 511px;
  object-fit: contain;
}
#chatham:hover {
  background: url("images/historical/chatham-view2.jpg") no-repeat;
  transition: 1.2s ease;
}
#mockduck {
  background: url("images/historical/mockduck.jpg") no-repeat;
  width: 800px;
  height: 500px;
  object-fit: cover;
}
#theatre {
  background: url("images/historical/5-7doyers.png") no-repeat;
  width: 640px;
  height: 511px;
  object-fit: contain;
}
#crackety{
  background: url("images/historical/1905attack.jpg") no-repeat;
  width: 640px;
  height: 511px;
  object-fit: contain;
}
#wingfat {
  background-image: url("images/wingfat.jpg");
  width: 500px;
  height: 500px;
  background-size: contain;
}
#wingfat:hover {
  background: url("images/tunnel.jpg") no-repeat;
  transition: 1.2s ease;
  background-size: contain;
}
#middle {
  background-image: url("images/historical/first-doyers.png");
  width: 640px;
  height: 522px;
  background-size: contain;
  margin-right: 2vw;
}
#middle:hover {
  background: url("images/historical/first-doyers2.jpg") no-repeat;
  background-size: contain;
  transition: 1.2s ease;
}
#bank {
  background-image: url("images/historical/bank.jpg");
  width: 349px;
  height: 522px;
  background-size: contain;
}
#entrance {
  background-image: url("images/historical/doyers-entrance.png");
  width: 640px;
  height: 432px;
  background-size: contain;
}
#entrance:hover {
  background: url("images/historical/doyers-entrance2.jpg") no-repeat;
  background-size: contain;
  transition: 1.2s ease;
}
#doyers9 {
  background-image: url("images/historical/9doyers.jpg");
  width: 640px;
  height: 385px;
  background-size: contain;
}
#doyers9:hover {
  background: url("images/historical/9doyers1.jpg") no-repeat;
  transition: 1.2s ease;
}
#chemist {
  background-image: url("images/historical/9doyers2.jpg");
  width: 342px;
  height: 512px;
  background-size: contain;
}
#wingkee {
  background-image: url("images/historical/16A.jpg");
  width: 640px;
  height: 523px;
  background-size: contain;
  margin-right: 2vw;
}
#wingkee:hover {
  background: url("images/historical/16A2.jpg") no-repeat;
  transition: 1.2s ease;
}
#tings {
  background-image: url("images/historical/18.jpg");
  width: 332px;
  height: 523px;
  background-size: contain;
}
#tings:hover {
  background: url("images/historical/182.jpg") no-repeat;
  transition: 1.2s ease;
}
#pell {
  background-image: url("images/historical/pell-junction.jpg");
  width: 615px;
  height: 420px;
  background-size: contain;
}
#pell:hover {
  background: url("images/historical/pell-junction2.jpg") no-repeat;
  transition: 1.2s ease;
  background-size: contain;
}

.cssGrid {
  grid-column-start: 0;
  grid-column-end: span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.5vmin;
  grid-row-gap: 2vmin;
  margin-top: 3vh;
}

.cssGrid img {
  width: 100%;
  height: 20vh;
  object-fit: contain;
}
